<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div class="containerBox">
      <div class="boxTitle">
        <h3>Produire:</h3>
      </div>
      <form class="blockForm" action="/result" method="get">
        <label for="resourceWanted">Ressource:</label>
        <select name="resourceWanted" id="resourceWanted" required>
          <option disabled selected value="">Sélectionner une ressource</option>
          <% resources.forEach(function(r) { %>
            <option value="<%= r.idResource %>" data-image="/images/Ressources/<%= r.idResource %>.png">
              <%= r.resourceName %>
            </option>
            <% }); %>
        </select>
        <label for="resourceQuantity">Unités par minute:</label>
        <input type="number" name="resourceQuantity" placeholder="" id="resourceQuantity" min="1" required>
        <div class="centre"><button>Calculer</button></div>
      </form>
    </div>
  </div>
</body>

</html>